<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="praktikum13.Properties.Settings.informasiMhsConnectionString"
            connectionString="Data Source=LAPTOP-E2NL0H6I\MIFTAHUL_HUDA;Initial Catalog=informasiMhs;Persist Security Info=True;User ID=sa;Password=010704;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>